<config>
	<modules>
        <Cammino_Multicarriershipping>
            <version>0.0.1</version>
        </Cammino_Multicarriershipping>
    </modules>
	<global>
		<helpers>
            <multicarriershipping>
                 <class>Cammino_Multicarriershipping_Helper</class>
            </multicarriershipping>
        </helpers>
        <models>
            <multicarriershipping>
                <class>Cammino_Multicarriershipping_Model</class>
                <resourceModel>multicarriershipping_mysql4</resourceModel>
            </multicarriershipping>
            <multicarriershipping_mysql4>
                <class>Cammino_Multicarriershipping_Model_Mysql4</class>
                <entities>
                    <tablerate>
                        <table>multicarriershipping_tablerate</table>
                    </tablerate>
                </entities>
            </multicarriershipping_mysql4>
        </models>
        <resources>
            <tablerate_setup>
                <setup>
                    <module>Cammino_Multicarriershipping</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </tablerate_setup>
            <tablerate_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </tablerate_write>
            <tablerate_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </tablerate_read>
        </resources>
  	</global>
  	<frontend>
        <routers>
            <multicarriershipping>
                <use>standard</use>
                <args>
                    <module>Cammino_Multicarriershipping</module>
                    <frontName>multicarriershipping</frontName>
                </args>
            </multicarriershipping>
        </routers>
    </frontend>
	<admin>
		<routers>
            <multicarriershipping>
                <use>admin</use>
                <args>
                    <module>Cammino_Multicarriershipping</module>
                    <frontName>multicarriershipping</frontName>
                </args>
            </multicarriershipping>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Cammino_Multicarriershipping>
							<title>Multicarrier Shipping Module</title>
							<sort_order>11</sort_order>
						</Cammino_Multicarriershipping>
					</children>
				</admin>
			</resources>
		</acl>
		<menu>
			<sales>
				<children>
					<multicarriershipping>
						<title>Tabela de Frete</title>
						<sort_order>10</sort_order>               
						<action>multicarriershipping/adminhtml_tablerate</action>
					</multicarriershipping>
				</children>
			</sales>
		</menu>
	</adminhtml>
</config>