<config>
	<modules>
        <Cammino_Multicarriershipping>
            <version>0.0.2</version>
        </Cammino_Multicarriershipping>
    </modules>
	<global>
		<helpers>
            <multicarriershipping>
                 <class>Cammino_Multicarriershipping_Helper</class>
            </multicarriershipping>
        </helpers>
        <blocks>
            <multicarriershipping>
                <class>Cammino_Multicarriershipping_Block</class>
            </multicarriershipping>
        </blocks>
        <models>
            <multicarriershipping>
                <class>Cammino_Multicarriershipping_Model</class>
                <resourceModel>multicarriershipping_mysql4</resourceModel>
            </multicarriershipping>
            <multicarriershipping_mysql4>
                <class>Cammino_Multicarriershipping_Model_Mysql4</class>
                <entities>
                    <tablerate>
                        <table>multicarriershipping_tablerate</table>
                    </tablerate>
                </entities>
            </multicarriershipping_mysql4>
        </models>
        <sales>
            <shipping>
                <carriers>
                    <multicarrier>
                        <class>Cammino_Multicarriershipping_Model_Carrier_Multicarrier</class>
                    </multicarrier>
                    
                </carriers>
            </shipping>
        </sales>
        <resources>
            <multicarriershipping_setup>
                <setup>
                    <module>Cammino_Multicarriershipping</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </multicarriershipping_setup>
            <multicarriershipping_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </multicarriershipping_write>
            <multicarriershipping_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </multicarriershipping_read>
        </resources>
  	</global>
    <default>
        <carriers>
            <multicarrier>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>cammino_multicarriershipping_model_carrier_multicarrier</model>
                <name>multicarrier</name>
                <title>Transportadora</title>
                <freepac>0</freepac>
                <sort_order>2</sort_order>
                <showmethod>1</showmethod>
            </multicarrier>
            <multicarrier_tablerate>                
                <max_weight>9999</max_weight>         
            </multicarrier_tablerate>      
        </carriers>
        
    </default>
   
  	<frontend>
        <routers>
            <multicarriershipping>
                <use>standard</use>
                <args>
                    <module>Cammino_Multicarriershipping</module>
                    <frontName>multicarriershipping</frontName>
                </args>
            </multicarriershipping>
        </routers>
    </frontend>
	<admin>
		<routers>
            <multicarriershipping>
                <use>admin</use>
                <args>
                    <module>Cammino_Multicarriershipping</module>
                    <frontName>multicarriershipping</frontName>
                </args>
            </multicarriershipping>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Cammino_Multicarriershipping>
							<title>Multicarrier Shipping Module</title>
							<sort_order>11</sort_order>
						</Cammino_Multicarriershipping>
					</children>
				</admin>
			</resources>
		</acl>
        <translate>
            <modules>
                <Cammino_Multicarriershipping>
                    <files>
                        <default>Cammino_Multicarriershipping.csv</default>
                    </files>
                </Cammino_Multicarriershipping>
            </modules>
        </translate>
        <layout>
            <updates>
                <multicarriershipping_tablerate>
                    <file>tablerate.xml</file>
                </multicarriershipping_tablerate>
            </updates>
        </layout>
		<menu>
			<sales>
				<children>
					<multicarriershipping>
						<title>Tabela de Frete</title>
						<sort_order>10</sort_order>               
						<action>multicarriershipping/adminhtml_tablerate</action>
					</multicarriershipping>
				</children>
			</sales>
		</menu>
	</adminhtml>
</config>